@page "/"

@layout MainLayout

@attribute [AutoNavMenu(2, BlaterIcons.BlaterIcon)]
@attribute [AutoRequiredRoles("ProjectOwner")]

<div class="ma-4">
    <MudCard Elevation="0" Class="pa-4 mb-2">
        <MudGrid Justify="Justify.SpaceBetween" Class="pa-2 align-center">
            <MudText
                Typo="Typo.h5"
                Class="ml-2">
                Products
            </MudText>
            <MudIconButton
                Color="Color.Primary"
                OnClick="@(() => NavigationService.Navigate("formTestCrud"))"
                Variant="Variant.Filled"
                Size="Size.Medium"
                Icon="@Material.Filled.Add"
                Class="mr-2">
            </MudIconButton>
        </MudGrid>
    </MudCard>

    <MudTable
        T="TestCrud"
        Items="@TestCruds"
        Hover="true"
        Breakpoint="Breakpoint.Sm"
        Loading="@_loading"
        LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Quantity</MudTh>
            <MudTh>CreatedAt</MudTh>
            <MudTh>UpdatedAt</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
            <MudTd DataLabel="CreatedAt">@context.CreatedAt.UtcDateTime</MudTd>
            <MudTd DataLabel="UpdatedAt">@context.UpdatedAt.UtcDateTime</MudTd>
            <MudTd DataLabel="">
                <div class="d-flex align-center justify-center gap-2">
                    <MudIconButton Icon="@Material.Outlined.Edit" OnClick="@(() => NavigationService.Navigate($"formTestCrud/{context.Id}"))"/>
                    <MudIconButton Icon="@Material.Outlined.Delete" OnClick="@(() => Delete(context.Id))"/>
                </div>
            </MudTd>
        </RowTemplate>
    </MudTable>
</div>