@page "/"

@layout LandingLayout

<MudCard Elevation="0" Style="background: transparent; height: 40rem;">
    <div class="d-flex flex-column align-center">
        <h1>Mussum Ipsum, cacilds vidis litro abertis</h1>
        <h2>Nulla id gravida magna, ut semper sapien</h2>
        <span>Welcome to your new app.</span>
        <span>
            Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Praesent vel viverra nisi. Mauris
            aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
        </span>
    </div>
    <div class="d-flex align-center gap-2 justify-center">
        <MudButton>Sign In</MudButton>
        <MudButton>Documentation</MudButton>
    </div>
    <div class="d-flex flex-column align-center gap-2 justify-center mt-6">
        <span>Praesent vel viverra nisi.</span>
        <div class="d-flex gap-2">
            <MudIcon Icon="@Icons.Material.Filled.Favorite" Title="Favorite" />
            <MudIcon Icon="@Icons.Material.Filled.Api" Title="API" />
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Title="Add" />
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
            <MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" />
            <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
        </div>
    </div>
</MudCard>

<MudCard Elevation="0" Style="background: transparent; height: 40rem;">
    <div class="d-flex flex-column align-center">
        <h1>Mussum Ipsum, cacilds vidis litro abertis</h1>
        <h2>Nulla id gravida magna, ut semper sapien</h2>
        <span>Welcome to your new app.</span>
        <span>
            Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Praesent vel viverra nisi. Mauris
            aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
        </span>
    </div>
    <div class="d-flex align-center gap-2 justify-center">
        <MudButton>Sign In</MudButton>
        <MudButton>Documentation</MudButton>
    </div>
    <div class="d-flex flex-column align-center gap-2 justify-center mt-6">
        <span>Praesent vel viverra nisi.</span>
        <div class="d-flex gap-2">
            <MudIcon Icon="@Icons.Material.Filled.Favorite" Title="Favorite" />
            <MudIcon Icon="@Icons.Material.Filled.Api" Title="API" />
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Title="Add" />
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
            <MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" />
            <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
        </div>
    </div>
</MudCard>

<MudCard Elevation="0" Style="background: transparent; height: 40rem;">
    <div class="d-flex flex-column align-center">
        <h1>Mussum Ipsum, cacilds vidis litro abertis</h1>
        <h2>Nulla id gravida magna, ut semper sapien</h2>
        <span>Welcome to your new app.</span>
        <span>
            Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Praesent vel viverra nisi. Mauris
            aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
        </span>
    </div>
    <div class="d-flex align-center gap-2 justify-center">
        <MudButton>Sign In</MudButton>
        <MudButton>Documentation</MudButton>
    </div>
    <div class="d-flex flex-column align-center gap-2 justify-center mt-6">
        <span>Praesent vel viverra nisi.</span>
        <div class="d-flex gap-2">
            <MudIcon Icon="@Icons.Material.Filled.Favorite" Title="Favorite" />
            <MudIcon Icon="@Icons.Material.Filled.Api" Title="API" />
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Title="Add" />
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
            <MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" />
            <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
        </div>
    </div>
</MudCard>

<MudCard Elevation="0" Style="background: transparent; height: 40rem;">
    <div class="d-flex flex-column align-center">
        <h1>Mussum Ipsum, cacilds vidis litro abertis</h1>
        <h2>Nulla id gravida magna, ut semper sapien</h2>
        <span>Welcome to your new app.</span>
        <span>
            Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Praesent vel viverra nisi. Mauris
            aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
        </span>
    </div>
    <div class="d-flex align-center gap-2 justify-center">
        <MudButton>Sign In</MudButton>
        <MudButton>Documentation</MudButton>
    </div>
    <div class="d-flex flex-column align-center gap-2 justify-center mt-6">
        <span>Praesent vel viverra nisi.</span>
        <div class="d-flex gap-2">
            <MudIcon Icon="@Icons.Material.Filled.Favorite" Title="Favorite" />
            <MudIcon Icon="@Icons.Material.Filled.Api" Title="API" />
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Title="Add" />
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
            <MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" />
            <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
        </div>
    </div>
</MudCard>

<MudCard Elevation="0" Style="background: transparent; height: 40rem;">
    <div class="d-flex flex-column align-center">
        <h1>Mussum Ipsum, cacilds vidis litro abertis</h1>
        <h2>Nulla id gravida magna, ut semper sapien</h2>
        <span>Welcome to your new app.</span>
        <span>
            Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. Praesent vel viverra nisi. Mauris
            aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.
        </span>
    </div>
    <div class="d-flex align-center gap-2 justify-center">
        <MudButton>Sign In</MudButton>
        <MudButton>Documentation</MudButton>
    </div>
    <div class="d-flex flex-column align-center gap-2 justify-center mt-6">
        <span>Praesent vel viverra nisi.</span>
        <div class="d-flex gap-2">
            <MudIcon Icon="@Icons.Material.Filled.Favorite" Title="Favorite" />
            <MudIcon Icon="@Icons.Material.Filled.Api" Title="API" />
            <MudIcon Icon="@Icons.Material.Filled.AddCircle" Title="Add" />
            <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />
            <MudIcon Icon="@Icons.Custom.Brands.Google" Title="Google" />
            <MudIcon Icon="@Icons.Custom.Brands.Reddit" Title="Reddit" />
        </div>
    </div>
</MudCard>