<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="8" xl="8" xxl="8">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex align-center justify-center">
                <BlaterLogo/>
            </div>
            <div>
                <MudText Typo="@Typo.h4" Color="Color.Primary" Class="mb-6 mt-4">
                    @(IsLogin ? "Login" : "Create your account")
                </MudText>
            </div>
            <div class="d-flex flex-row align-start gap-2">
                <MudButton
                    StartIcon="@Custom.Brands.GitHub"
                    IconClass="px-2"
                    Class="d-flex justify-start align-center mud-width-full"
                    Size="Size.Medium"
                    Variant="Variant.Outlined">
                    Continue with GitHub
                </MudButton>
                <MudButton
                    StartIcon="@Custom.Brands.Google"
                    IconClass="px-2"
                    Class="d-flex justify-start align-center mud-width-full"
                    Size="Size.Medium"
                    Variant="Variant.Outlined">
                    Continue with Google
                </MudButton>
            </div>
            <div class="d-flex align-center mt-4" style="height: 50px;">
                <MudDivider Style="width: 30%"/>
                <MudText Typo="@Typo.subtitle1" Class="pa-4"> or </MudText>
                <MudDivider Style="width: 30%"/>
            </div>
            <div class="d-flex align-center">
                @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <MudText Typo="@Typo.subtitle1" Class="mt-6">
                        @ErrorMessage
                    </MudText>
                }
            </div>
            
            @ChildContent
            
            <div class="d-flex align-center">
                <MudText Typo="@Typo.subtitle1" Class="mt-6">
                    @if (IsLogin)
                    {
                        @("No account?")
                        <MudLink Href="/Account/Register">Sign up</MudLink>
                    }
                    else
                    {
                        @("Have an account?")
                        <MudLink Href="/Account/Login">Sign in</MudLink>
                    }
                </MudText>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool IsLogin { get; set; }

    [Parameter]
    public string? ErrorMessage { get; set; }

}